In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
import random
import datetime
import math
import requests
import pyspark

from pyspark.sql import SparkSession
from random import randrange, randint
from datetime import timedelta

In [2]:
word_site = "https://www.mit.edu/~ecprice/wordlist.10000"

response = requests.get(word_site)
words = response.content.decode("utf-8").splitlines()
spark = SparkSession.builder.appName("Employee_Data").getOrCreate() 
spark

In [3]:
minimum_wage_df = pd.read_csv("Minimum_Wage_List.csv")
employees_df = spark.read.csv("Employee_Dummy.csv", header=True)
employees_df.columns

['first_name',
 'last_name',
 'company_name',
 'address',
 'city',
 'county',
 'state',
 'zip',
 'phone1',
 'phone2',
 'email',
 'web']

In [4]:
def repair_employees_df(employees_df, words):
    employees = employees_df.drop("phone2", "company_name", "county")
    employees = generate_unique_values(employees.toPandas(), words)
    
    employees = employees.rename({"address": "street", "phone1": "phone", "web": "website"}, axis=1)
    employee_id = [*range(1, 4500, 1)]
    employees.insert(0, "employee_id", employee_id)
    return employees

In [5]:
def generate_unique_values(employees, words):
    counter = 0
    
    
    for rows, columns in employees.iterrows():
        worker = (rows, columns)[1]
        
        street_numb = random.randint(1, 999)
        street = random.choice(words)
        street_ending = ["Ave", "St", "Blvd", "Ct", "Mnr", "RD", "Drive",
                     "Pkwy", "Terrace", "Hwy"]
        email_ending = ["@gmail.com", "@hotmail.com", "@yahoo.com", "@mail.com", "@venere.org", "@cox.net"]
    
        line_one = str(street_numb) + " " + street.capitalize() + " " + random.choice(street_ending)
        email = worker["first_name"][0] + worker["last_name"] + random.choice(email_ending)
        website = "http://" + worker["first_name"].lower() + random.choice(words) + ".com"
        
        if worker["address"] is None: worker["address"] = line_one
        if worker["zip"] is None: worker["zip"] = random.randint(10000, 99999)
        if worker["phone1"] is None: worker["phone1"] = "-".join([str(i) for i in random.sample(range(100, 999), 3)])
        if worker["email"] is None: worker["email"] = email
        if worker["web"] is None: worker["web"] = website
        
    return employees

In [6]:
def random_date(start, end): 
    between_dates = end - start
    days_between = between_dates.days

    random_numb_days = random.randrange(days_between)
    random_date = start + datetime.timedelta(days=random_numb_days)
    return random_date.date()

In [7]:
def repair_minimum_wage(minimum_wage):
    minimum_wage = minimum_wage.loc[:,["Minimum Wage Rate", "USPS Abbreviation"]]
    fixed_hourly = []
    
    for items in minimum_wage["Minimum Wage Rate"]:
        new_items = (items[1:-7])
        fixed_hourly.append(float(new_items))
        
    minimum_wage["Minimum Wage Rate"] = fixed_hourly
    return minimum_wage

In [8]:
def create_employee_attributes(employees, minimum_wage, start, end, database_starttime):
    employee_states = employees["state"].to_numpy()
    department_codes = [100, 200, 300, 400, 500]
    job_codes = [27345, 47893, 36289, 11532, 22634]
    pay = ["minimum", 60000, 100000, 120000, 110000]
    departments = ["Customer Service", "Manager", "Leadership", "IT", "IT"]
    work_benefits = ["Enrolled", "Not Enrolled"]

    jobs = ["Team Member", "Department Leader", "Store Leader", "Software Engineer", "Data Analyst"]
    job_desc = ["Help customers with complaints and questions, give customers information about products and services, take orders, and process returns",
                "Accomplishes department objectives by managing staff; planning and evaluating department activities. Maintains staff by recruiting, selecting, orienting, and training employees. Ensures a safe, secure, and legal work environment. Develops personal growth opportunities",
                "Manage everything related to the store. Store leaders manage the store's employees. They are directly involved in hiring, training, and even firing employees.",
                "Collects and stores data on sales numbers, market research, logistics, linguistics, or other behaviors. They bring technical expertise to ensure the quality and accuracy of that data, then process, design, and present it in ways to help people, businesses, and organizations make better decisions.",
                "Designs, develops and maintains computer software at a company. They use their creativity and technical skills and apply the principles of software engineering to help solve new and ongoing problems for an organization."]



    department_id = []
    job_id = []
    department = []
    job_title = []
    job_description = []
    start_date = []
    experience = []
    benefits = []
    status = []
    salary = []

    counter = 0

    for items in range(4499):
        code = random.choice(department_codes)
        index = department_codes.index(code)

        department_id.append(code)
        job_id.append(job_codes[index])
        department.append(departments[index])
        job_title.append(jobs[index])
        job_description.append(job_desc[index])
        benefits.append(random.choice(work_benefits))
        status.append("Currently Employed")

        employment_date = random_date(start, end)
        start_date.append(employment_date)

        years = math.trunc((database_starttime - employment_date).days / 365)
        experience.append(years)

        if pay[index] == "minimum":
            state = employee_states[counter]
            hourly_rate = minimum_wage.loc[minimum_wage["USPS Abbreviation"]==state]
            annual = round((hourly_rate["Minimum Wage Rate"].values[0] + years) * 40 * 52)
            salary.append(annual)
        else:
            annual = pay[index] + (10000 * years)
            salary.append(annual)


        counter += 1

    employees = employees.assign(
        job_id = job_id,
        department_id = department_id,
        department = department,
        job_title = job_title,
        job_description = job_description,
        start_date = start_date,
        years_with_company = experience,
        benefits = benefits,
        salary = salary,
        work_status = status


    )
    
    employees["department_id"].replace({500 : 400}, inplace=True)
    return employees

In [9]:
def employees_table(worker, cur, connection):
    sql = """INSERT INTO employees (employee_id, 
                                        first_name, 
                                        last_name, 
                                        street, 
                                        city, 
                                        state, 
                                        zip)
                                    
         values (%s, %s, %s, %s, %s, %s, %s) 
    """
    cur.execute(sql, (worker["employee_id"], worker["first_name"], worker["last_name"], 
                      worker["street"], worker["city"], worker["state"], worker["zip"]))
    
    connection.commit()

In [10]:
def contact_table(worker, cur, connection):
    sql = """INSERT INTO contact (employee_id, 
                                    phone, 
                                    email, 
                                    website)
                                    
         values (%s, %s, %s, %s) 
    """
    cur.execute(sql, (worker["employee_id"], worker["phone"], worker["email"], 
                      worker["website"]))
    
    connection.commit()

In [11]:
def identification_table(worker, cur, connection):
    sql = """INSERT INTO identification_codes (employee_id, 
                                                job_id, 
                                                department_id)
                                    
         values (%s, %s, %s) 
    """
    cur.execute(sql, (worker["employee_id"], worker["job_id"], worker["department_id"]))
    
    connection.commit()

In [12]:
def department_table(worker, cur, connection):
    sql = """INSERT INTO department (department_id, 
                                         department)
                                    
         values (%s, %s) 
    """
    cur.execute(sql, (worker["department_id"], worker["department"]))
    
    connection.commit()

In [13]:
def job_description_table(worker, cur, connection):
    sql = """INSERT INTO job_description (job_id, 
                                    job_title, 
                                    job_description)
                                    
         values (%s, %s, %s) 
    """
    cur.execute(sql, (worker["job_id"], worker["job_title"], worker["job_description"]))
    
    connection.commit()

In [14]:
def job_profile_table(worker, cur, connection):
    sql = """INSERT INTO job_profile (employee_id, 
                                    start_date, 
                                    years_company)
                                    
         values (%s, %s, %s) 
    """
    cur.execute(sql, (worker["employee_id"], worker["start_date"], worker["years_with_company"]))
    
    connection.commit()

In [15]:
def payment_information_table(worker, cur, connection):
    sql = """INSERT INTO payment_information (job_id, 
                                                job_salary, 
                                                benefits, 
                                                employment_status)
                                    
         values (%s, %s, %s, %s) 
    """
    cur.execute(sql, (worker["job_id"], worker["salary"], worker["benefits"], 
                      worker["work_status"]))
    
    connection.commit()

In [16]:
def main():
    database_starttime = datetime.datetime.strptime("1/1/2020", "%m/%d/%Y").date()
    start = datetime.datetime.strptime("1/1/2010", "%m/%d/%Y")
    end = datetime.datetime.strptime("1/1/2020", "%m/%d/%Y")
    
    minimum_wage = repair_minimum_wage(minimum_wage_df)
    cleaned_employees = repair_employees_df(employees_df, words)
    employees = create_employee_attributes(cleaned_employees, minimum_wage, start, end, database_starttime)
    connection = pymysql.connect(host="localhost",
                     user="root",
                     password="Immalegacy5",
                     charset="utf8",
                     db="payroll_db")
    
    cur = connection.cursor()
    counter = 0
    for rows, columns in employees.iterrows():
        if counter % 500 == 0 and counter != 0: print("Inserted Total Rows of Data: ", counter)
        counter += 1
        worker = (rows, columns)[1]
        employees_table(worker, cur, connection)
        contact_table(worker, cur, connection)
        identification_table(worker, cur, connection)
        department_table(worker, cur, connection)
        job_description_table(worker, cur, connection)
        job_profile_table(worker, cur, connection)
        payment_information_table(worker, cur, connection)
    print("Data Transferred Successfully")
    return employees

In [17]:
main()

OperationalError: (1054, "Unknown column 'employee_id' in 'field list'")