In [137]:
import pandas as pd
import numpy as np
import os
import pymysql
import random
import datetime
import math
import requests
import pyspark

from pyspark.sql import SparkSession
from random import randrange, randint
from datetime import timedelta

In [138]:
word_site = "https://www.mit.edu/~ecprice/wordlist.10000"

response = requests.get(word_site)
words = response.content.decode("utf-8").splitlines()

In [139]:
spark = SparkSession.builder.appName("Employee_Data").getOrCreate() 
spark

In [140]:
#employees = employees.rename({"address": "street", "phone1": "phone", "web": "website"}, axis=1)
#employee_id = [*range(1, 4500, 1)]
#employees.insert(0, "employee_id", employee_id)

In [141]:
employees_df = spark.read.csv("Employee_Dummy.csv", header=True)
employees_df.columns

['first_name',
 'last_name',
 'company_name',
 'address',
 'city',
 'county',
 'state',
 'zip',
 'phone1',
 'phone2',
 'email',
 'web']

In [169]:
def repair_employees_df(employees_df, words):
    employees = employees_df.drop("phone2", "company_name", "county")
    employees = generate_unique_values(employees.toPandas(), words)
    
    employees = employees.rename({"address": "street", "phone1": "phone", "web": "website"}, axis=1)
    employee_id = [*range(1, 4500, 1)]
    employees.insert(0, "employee_id", employee_id)
    return employees

In [172]:
def generate_unique_values(employees, words):
    counter = 0
    
    
    for rows, columns in employees.iterrows():
        worker = (rows, columns)[1]
        
        street_numb = random.randint(1, 999)
        street = random.choice(words)
        street_ending = ["Ave", "St", "Blvd", "Ct", "Mnr", "RD", "Drive",
                     "Pkwy", "Terrace", "Hwy"]
        email_ending = ["@gmail.com", "@hotmail.com", "@yahoo.com", "@mail.com", "@venere.org", "@cox.net"]
    
        line_one = str(street_numb) + " " + street.capitalize() + " " + random.choice(street_ending)
        email = worker["first_name"][0] + worker["last_name"] + random.choice(email_ending)
        website = "http://" + worker["first_name"].lower() + random.choice(words) + ".com"
        
        if worker["address"] is None: worker["address"] = line_one
        if worker["zip"] is None: worker["zip"] = random.randint(10000, 99999)
        if worker["phone1"] is None: worker["phone1"] = "-".join([str(i) for i in random.sample(range(100, 999), 3)])
        if worker["email"] is None: worker["email"] = email
        if worker["web"] is None: worker["web"] = website
        
    return employees

In [173]:
employees = repair_employees_df(employees_df, words)
employees

,employee_id,first_name,last_name,street,city,state,zip,phone,email,website
0,1,James,Butt,6649 N Blue Gum St,New Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,2,Josephine,Darakjy,4 B Blue Ridge Blvd,Brighton,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,3,Art,Venere,8 W Cerritos Ave #54,Bridgeport,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,4,Lenna,Paprocki,639 Main St,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,5,Donette,Foller,34 Center St,Hamilton,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...
4494,4495,Brande,Rader,61 Formation Ct,Sharpsburg,GA,49159,193-410-694,BRader@cox.net,http://brandetoronto.com
4495,4496,Heath,Brito,444 Communicate Terrace,San Diego,CA,90472,952-654-725,HBrito@gmail.com,http://heathphone.com
4496,4497,Scottie,Benites,505 Symptoms Ave,Dallas,TX,89292,948-749-637,SBenites@mail.com,http://scottiefemales.com
4497,4498,Kori,Messinger,800 Substance RD,New Market,TN,79512,742-596-880,KMessinger@hotmail.com,http://korirated.com
4498,4499,Roberto,Motta,55 Champion Blvd,Nichols,NY,40245,280-265-450,RMotta@venere.org,http://robertomanage.com

'530-241-391'

In [153]:
heheh

'873-550-298'