In [6]:
import pyspark
import pandas as pd

from pyspark.sql import SparkSession

In [5]:
data = pd.read_csv("name.csv")
data

     Name  Age
0   sunny   30
1   money   21
2    alex   22
3   julio   23
4  claros   12
5   jamal   34
6   jacob   32
7    lucy   12
8   jamie   35

In [7]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [14]:
df_pyspark = spark.read.option("header", "true").csv("name.csv")

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='sunny', Age='30'),
 Row(Name='money', Age='21'),
 Row(Name='alex', Age='22')]

In [18]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [20]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate() 
spark

In [23]:
#read Dataset

df_pyspark = spark.read.option("header", "true").csv("name.csv", inferSchema=True)

In [24]:
#check schema 
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [26]:
df_pyspark = spark.read.csv("name.csv", header=True, inferSchema=True)
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| sunny| 30|
| money| 21|
|  alex| 22|
| julio| 23|
|claros| 12|
| jamal| 34|
| jacob| 32|
|  lucy| 12|
| jamie| 35|
+------+---+

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark.columns

['Name', 'Age']

In [32]:
type(df_pyspark.select("Name"))

pyspark.sql.dataframe.DataFrame

In [34]:
df_pyspark.select(["Name", "Age"]).show()

+------+---+
|  Name|Age|
+------+---+
| sunny| 30|
| money| 21|
|  alex| 22|
| julio| 23|
|claros| 12|
| jamal| 34|
| jacob| 32|
|  lucy| 12|
| jamie| 35|
+------+---+

In [35]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [37]:
df_pyspark.describe().show()

+-------+-----+------------------+
|summary| Name|               Age|
+-------+-----+------------------+
|  count|    9|                 9|
|   mean| null|24.555555555555557|
| stddev| null| 8.804985961248194|
|    min| alex|                12|
|    max|sunny|                35|
+-------+-----+------------------+

In [41]:
#Adding Columns PySpark

df_pyspark=df_pyspark.withColumn("Age after 2 Years", df_pyspark["Age"] + 2)

In [43]:
df_pyspark.show()

+------+---+-----------------+
|  Name|Age|Age after 2 Years|
+------+---+-----------------+
| sunny| 30|               32|
| money| 21|               23|
|  alex| 22|               24|
| julio| 23|               25|
|claros| 12|               14|
| jamal| 34|               36|
| jacob| 32|               34|
|  lucy| 12|               14|
| jamie| 35|               37|
+------+---+-----------------+

In [45]:
#Drop Columns
df_pyspark = df_pyspark.drop("Age after 2 Years")

In [ ]:
df_pyspark